<!DOCTYPE html>
<html>
<head>
   <title>algoblu用户体验系统</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body style="background-color:PowderBlue;">

<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="http://www.algoblu.com/">公司简介</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="/upload">上传探测URL文本</a></li>
         <li><a href="/">下载探测结果(目前已经不用了)</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               测试(留着以后增加功能,目前不用) <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/">回到主页</a></li>
               <li><a href="/">回到主页</a></li>
               <li><a href="/">回到主页</a></li>
               <li class="回到主页"></li>
               <li><a href="/">回到主页</a></li>
               <li class="divider"></li>
               <li><a href="/">回到主页</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>
      <h3>北京Algoblu信息技术有限公司SDN用户体验系统</h3>            
      <p>URL地址格式范例：   http://www.sina.com</p>
      <div>
      <a href = "http://www.algoblu.com/index.html">
    <img src="{{ static_url("images/logo.jpg") }}" class="img-responsive img-circle" alt="Cinque Terre" width="304" height="236"> 
    </div>

</body>
</html>			
